body {
  margin: 0;
  background: black;
}

.box {
  border: 1px solid #e75551;
  padding: 10px;
}

.blue {
  width: 328px;
  margin: 40px 20px;
  background-color: #3c8dc0;
}

.orange {
  background-color: #ffa500;
}

.text {
  background-color: #ddd;
}

#qa-block {
  margin: 20px;
}
